<!DOCTYPE html>
<html>
<head>
 
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Lesson</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
 <style>
 .hyperlink:hover{
 color:#05445E;
 }
.footer-div{
padding:2rem;
color:#189AB4;
transition: all 300ms ease;
}


 
 h3,h1{
 text-align: center;
 }
 
 body{
 background: #f6f6f9;
 }
 form{
 margin-top:3rem;
 border-radius: 1.2rem;
 box-shadow: 0 1rem 1rem rgba(132, 139, 200, 0.18);
 transition: all 300ms ease;
 
 }
 
 form:hover{
 box-shadow:none;
 background:#D4F1F4;
 
 }
 
 .btn-primary{
 margin-top: 2rem;
 margin-bottom:1rem;
 width:15rem;
 
 }
 
 </style>
</head>

<body>
<header>
	<h1>Add a new lesson</h1>
 </header>

<form class="row g-3" Style="margin:1rem 1rem 1rem 1rem" action="/lesson" method="post">
  <div class="">
    <div class="form-floating">
    <input type="text" class="form-control" placeholder="CS101" name="corId">
    <label for="floatingInputUsername" class="form-label" >Course ID</label>
  </div>
  </div>
  <div class="">
  <div class="form-floating">
    <input type="text" class="form-control" placeholder="TP001" name="lesId">
    <label for="floatingInputUsername" class="form-label" >Lesson ID</label>
  </div>
  </div>
  <div class="">
  <div class="form-floating">
    <input type="text" class="form-control" placeholder="DataTypes" name="lesName">
    <label for="floatingInputUsername" class="form-label" >Lesson Name</label>
  </div>
  </div>
  <div class="">
  <div class="form-floating">
    <input type="text" class="form-control" placeholder="Arrays" name="lesTopics">
    <label for="floatingInputUsername" class="form-label" >Lesson Topics</label>
  </div>
  </div>
  <div class="">
  <div class="form-floating">
    <input type="text" class="form-control" placeholder="https://www.youtube.com/" name="link">
    <label for="floatingInputUsername" class="form-label" >Lesson Video Link</label>
  </div>
  </div>
  
  <div class="col-12">
    <button type="submit" class="btn btn-primary btn-lg">Create</button>
    
  	
  </div>

</form>

</body>

</html>